name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      env: 
        FMP_TESTS_API_KEY: ${{ secrets.FMP_TESTS_API_KEY }}
      run: dotnet test --no-build --verbosity normal
    - name: Build Release
      run: dotnet build --configuration Release --no-restore
    - name: Upload Nuget Package Build Artifact
      uses: actions/upload-artifact@v2.2.3
      with:
        name: Nuget
        path: /home/runner/work/FinancialModelingPrep.NET/FinancialModelingPrep.NET/FinancialModelingPrepApi/bin/Release/*.nupkg
    - name: Upload Release Build Artifacts
      uses: actions/upload-artifact@v2.2.3
      with:
        name: Release Build
        path: /home/runner/work/FinancialModelingPrep.NET/FinancialModelingPrep.NET/FinancialModelingPrepApi/bin/Release/**/*
